<div class="bg bg-blue clearfix">
  <%= render_child_component_with_name(component, "cq-image") %>
  <div class="hero-text-box">
    <div class="h-text">
      <%= render_child_component_with_name(component, "cq-text") %>
      <div class="small-box">
        <%= render_child_component_with_name(component, "cq-text1") %>
        <%= render_child_component_with_name(component, "cq-cta") %>
      </div>
    </div>
    <div class="bullet-text">
      <%= render_child_component_with_name(component, "cq-text2") %>
    </div>
  </div>
</div>