<%
context_items_size = component.context_items.size
%>
<div class="ccontainer answerxchange" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<% if component.errors.size %>
    <div class="err"><%= component.errors.join("\n") %></div>
<% end %>
<% unless component.widget_header.eql?('') %>
    <h2><%= component.widget_header %></h2>
<% end %>
    <% if component.has_search_enabled %>
    <form accept-charset="UTF-8" action="<%= component.search_target %>" method="get" id="form-answerxchange">
        <div class="wrapper">
          <input autocomplete="off" maxlength="255" name="q" id="ax-q" placeholder="Ask a question (e.g. How much is the subsidy?)" type="search">
          <button class="search-submit" name="button" type="submit"><%= component.cta_text %></button>
        </div>
        <input name="utf8" type="hidden" value="&#x2713;">
    </form>
    <% end %>
    <ul>
    <% component.context_items.each_with_index do |item, index| %>
        <li<%= ' class="last"'.html_safe if index == context_items_size - 1 %>>
          <a href="<%=item['url']%>"><%= item['title']%></a>
          <% unless item['snippet'].blank? %><p><%= item['snippet']%></p><% end %>
          <% unless item['user']['display_name'].blank? && item['answers_count'].blank? %>
          <div class="info">
            <% unless item['user']['display_name'].blank? %><div class="usr"><i></i><%= item['user']['display_name'] %></div><% end %>
            <% unless item['answers_count'].blank? %><div class="ac"><i></i><%= item['answers_count'] %></div><% end %>
          </div>
          <% end %>
        </li>
    <% end %>
    </ul>
</div>