<%
  percentage_off = render_percentage_off(component.dynamic_price)
  omniture_data_link = (component.omniture_data_link).blank? ? "" : component.omniture_data_link
   if omniture_data_link.length > 0
	sc_closex_data_link_attr = omniture_data_link+"-Close-X"
	sc_closeout_data_link_attr = omniture_data_link+"-Close-Out"
   end
%>
<div class="csimple-pricing-card small-box-w-header modal-pricing-card">
	<% if omniture_data_link.length > 0  %>
    	<a class="visually-hidden" id="modal-xclose" data-wa-link="<%= sc_closex_data_link_attr%>" ></a>
    	<a class="visually-hidden" id="modal-outclose" data-wa-link="<%= sc_closeout_data_link_attr%>" ></a>
	<% end %>
    <% if percentage_off.nil? %>
        <header>
            <%= render_child_component_if_exists_with_name(component, "cq-header") %>
        </header>
    <% else %>
        <header class="promo">
            <%= render_child_component_if_exists_with_name(component, "cq-header") %>
            <div class="global-sprite poff">
                <div>
                    <span class="value"><%= percentage_off %></span><sup>%</sup>
                    <div class="off">OFF</div>
                </div>
            </div>
        </header>
    <% end %>
    <section>
        <div class="price price-font <%= component.price_only %>">
          <%=render_price(component.dynamic_price)%><span class="per">/<%= component.per_period %><sup><%= component.superscript_number %></sup></span>
        </div>
        <% unless component.duration_text.blank? %>
        <p><%= component.duration_text %></p>
        <% end %>
        <%=render_reg_price(component.dynamic_price)%>
        <div class="cta1">
            <%= render_child_component_if_exists_with_name(component, "cq-cta") %>
        </div>
    </section>
</div>
