<div id="features" class="cfeatures-tabbed">
    <%= render_child_component_if_exists_with_name(component, "cq-text1") %>
    <%= render_child_component_if_exists_with_name(component, "cq-tabs") %>
    <div class="content-bloc">
      <%
      (0...component.items_list.length).each do |i|
            j = i +1
            class_name = ( j === component.active_option.to_i()) ? "style=display:block" : "style=display:none"
            bu_name =  component.items_list[i]
      %>
            <ul <%= class_name %> id="<%=bu_name%>">
                <%= render_child_component_if_exists_with_name(component, "cq-container#{i}")  %>
            </ul>
       <% end %>
     </div>
</div>