<% id_features = component.is_hide_header.eql?("true") ? '' : ' id=features' %>
<section<%= id_features %> class="content-container cfeatures1">
  <% unless component.is_hide_header.eql?("true") %>
      <h2 class="section-header"><%= component.f1_header %></h2>
  <% end %>
  <div class="row">
    <% (1..3).each do |i| %>
        <div class="span4">
          <%= render_child_component_if_exists_with_name(component, "image-#{i}") %>
        </div>
    <% end %>
  </div>
  <div class="row">
    <% (1..3).each do |i| %>
        <div class="span4">
          <%= render_child_component_if_exists_with_name(component, "text-#{i}") %>
        </div>
    <% end %>
  </div>
  <div class="row">
    <div class="section-header">
      <div class="centered">
        <div>
          <h3><%= component.f1_cta_label %></h3>
        </div>
        <div class="cta_container">
          <%= render_child_component_if_exists_with_name(component, "cta")%>
        </div>
      </div>
    </div>
  </div>
</section>